@using System.Web.Mvc.Html
@model LeisureTimeSystem.Models.ViewModels.NavbarViewModel

<link id="bs-css" href="~/Content/3.css" rel="stylesheet">



<div class="bar">
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <div class="navbar-brand">@Html.ActionLink("Site Name", "Index", "Home") </div>
            </div>
            <ul class="nav navbar-nav">
                @foreach (var vm in this.Model.MainCategoriesViewModels)
                {
                    if (vm.SubCategoryViewModels.Count == 0)
                    {
                        <li> @Html.ActionLink(@vm.Name, "ShowDisciplines", "Discipline", new {categoryId = vm.Id}, null)</li>
                    }
                    else
                    {
                        <li class="dropdown">
                            <button class="dropbtn">@vm.Name</button>

                            <div class="dropdown-content">
                                @foreach (var subcategory in vm.SubCategoryViewModels)
                                {
                                    @Html.ActionLink(subcategory.Name, "ShowDisciplines", "Discipline", new {categoryId = subcategory.Id}, null)
                                }
                            </div>
                        </li>
                    }
                }

                <li>@Html.ActionLink("Articles", "All", "Articles", new {area = "Blog"}, null)</li>

            </ul>


            <ul class="nav navbar-nav navbar-right">
                <li>@Html.ActionLink("Create Organization", "Create", "Organization")</li>
            </ul>

            @Html.Partial("_LoginPartial")
        </div>
    </nav>
</div>