@model LeisureTimeSystem.Models.ViewModels.ApplyViewModel

@{
    ViewBag.Title = "Apply";
}

<h2>Apply</h2>



@using (Html.BeginForm())
{
    @Html.Hidden("StudentId", this.Model.ApplyStudentViewModel.Id)

    @Html.Hidden("CourseId", this.Model.ApplyCourseViewModel.Id)

    <table>
        <tr>
            <th>
                @Html.LabelFor(x => x.ApplyCourseViewModel.Name)
            </th>

            <td>
                @Html.DisplayFor(model => model.ApplyCourseViewModel.Name, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.ApplyCourseViewModel.Name, "", new {@class = "text-danger"})
            </td>
        </tr>
        <tr>
            <th>
                @Html.LabelFor(model => model.ApplyCourseViewModel.Description)
            </th>

            <td>
                @Html.DisplayFor(model => model.ApplyCourseViewModel.Description, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.ApplyCourseViewModel.Description, "", new {@class = "text-danger"})

            </td>
        </tr>

        <tr>
            <th>
                @Html.LabelFor(model => model.ApplyCourseViewModel.StartDate)
            </th>

            <td>
                @Html.DisplayFor(model => model.ApplyCourseViewModel.StartDate, new { htmlAttributes = new { @class = "form-control", @type = "date" } })
                @Html.ValidationMessageFor(model => model.ApplyCourseViewModel.StartDate, "", new { @class = "text-danger" })


            </td>
        </tr>

        <tr>
            <th>
                @Html.LabelFor(model => model.ApplyCourseViewModel.EndDate)
            </th>

            <td>
                @Html.DisplayFor(model => model.ApplyCourseViewModel.EndDate, new {htmlAttributes = new {@class = "form-control", @type = "date"}})
                @Html.ValidationMessageFor(model => model.ApplyCourseViewModel.EndDate, "", new {@class = "text-danger"})
            </td>
        </tr>

        <tr>
            <th>
                @Html.LabelFor(model => model.ApplyCourseViewModel.OrganizationName)
            </th>

            <td>
                @Html.DisplayFor(model => model.ApplyCourseViewModel.OrganizationName, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.ApplyCourseViewModel.OrganizationName, "", new {@class = "text-danger"})


            </td>
        </tr>

        <tr>
            <th>
                @Html.LabelFor(model => model.ApplyStudentViewModel.Name)
            </th>

            <td>
                @Html.DisplayFor(model => model.ApplyStudentViewModel.Name, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.ApplyStudentViewModel.Name, "", new {@class = "text-danger"})

            </td>
        </tr>

        <tr>
            <th>
                @Html.LabelFor(model => model.ApplyStudentViewModel.Telephones)
            </th>

            @if (this.Model.ApplyStudentViewModel.Telephones != null)
            {
                <td>
                    @Html.DisplayFor(model => model.ApplyStudentViewModel.Telephones, new {htmlAttributes = new {@class = "form-control"}})
                    @Html.ValidationMessageFor(model => model.ApplyStudentViewModel.Telephones, "", new {@class = "text-danger"})

                </td>
            }
            else
            {
                <p>Please, register a telephone in your profile.</p>
            }

        </tr>



    </table>

    <div class="form-group">
        <input type="submit">
    </div>

}

