@model LeisureTimeSystem.Models.ViewModels.Course.ManageApplicationsWrapViewModel

@{
    ViewBag.Title = "AllCourseApplications";
}

<h2>Course: @this.Model.Applications[0].Course.Name</h2>


@using (Html.BeginForm())
{
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Applications[0].Student.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Applications[0].Student.Username)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Applications[0].Student.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Applications[0].Status)
            </th>
        </tr>

        @for (int i = 0; i < this.Model.Applications.Count; i++)
        {

            @Html.HiddenFor(model => model.Applications[i].Course.CourseId)
            @Html.HiddenFor(model => model.Applications[i].Student.StudentId)

            <tr>
                <td>
                    @Html.DisplayFor(model => model.Applications[i].Student.Name)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Applications[i].Student.Username)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Applications[i].Student.Email)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Applications[i].Status)
                </td>

                <td>
                    @Html.EnumDropDownListFor(model => model.Applications[i].Status, "Change Status", new {@class = "form-control"})
                </td>

            </tr>

        }



    </table>

    <div class="form-group">
        <input type="submit">
    </div>
}
