@model LeisureTimeSystem.Models.ViewModels.Profile.DetailsProfileViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>DetailsProfileViewModel</h4>
    <hr />

    <h2>@this.Model.Name</h2>



    <dl class="dl-horizontal">

        <dt>
            <img src="@this.Model.ProfilePicturePath" alt="Smiley face" style="float: right; width: 80px; height: 80px;">
        </dt>

        <dd>

        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Username)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Username)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BirthDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BirthDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Website)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Website)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DisplayEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DisplayEmail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Telephones)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telephones)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd>
            @{
                string personAddress = this.Model.City + ", " + this.Model.Address;
            }

            <p>@personAddress</p>
        </dd>


    </dl>
</div>

@Ajax.ActionLink("Render student organizations", "RenderStudentOrganizations", "Organization", new { studentId = this.Model.Id, @class = "btn btn-lg" }, new AjaxOptions()
{
    HttpMethod = "GET",
    UpdateTargetId = "container",
    InsertionMode = InsertionMode.Replace
})

@Ajax.ActionLink("Render student courses", "RenderStudentCourses", "Course", new { studentId = this.Model.Id, @class = "btn btn-lg" }, new AjaxOptions()
{
    HttpMethod = "GET",
    UpdateTargetId = "container",
    InsertionMode = InsertionMode.Replace
})

<div id="container">
    @Html.Action("RenderStudentCourses", "Course", new { studentId = this.Model.Id })
</div>


<p>
    @Html.ActionLink("Edit profile", "Edit", "Profile", new { studentId = this.Model.Id }, null)

    @Html.ActionLink("To profile management", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
</p>
