@model IEnumerable<LeisureTimeSystem.Models.ViewModels.Article.AllArticlesViewModel>

@{
    ViewBag.Title = "All";
}

<h2>All</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>


<h2>Articles</h2>
<img src="~/UploadedFiles/redLine.png" alt="Smiley face"  style="float: none; width: 1500px; height: 3px;">

<table class="table">
    @foreach (var item in Model)
    {
        <tr>
            <td><img src=@item.PicturePath alt="Smiley face" style="float: none; width: 172px; height: 80px;"></td>
            <td>
                <div class="articleTitle">@Html.DisplayFor(modelItem => item.Title)</div>
                <div class="articleBody">@Html.DisplayFor(modelItem => item.Body)</div>
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.CommentsCount)
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new {articleId = item.Id})

                @if (item.IsAllowedToModify)
                {
                    @:|@Html.ActionLink("Edit", "Edit", new {articleId = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new {articleId = item.Id})
                }

            </td>
        </tr>
    }

</table>
