@model LeisureTimeSystem.Models.ViewModels.Organization.AllDisciplineOrganizationsViewModel

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<div class="row">
    @foreach (var item in Model.OrganizationViewModels)
    {
        <div class="col-md-3" style="margin-top: 50px">
            <img src=@item.ProfilePicturePath alt="Smiley face" style="float: none; width: 80px; height: 40px;">
            <br/>
            @Html.ActionLink(@item.Name, "Details", "Organization", new { organizationId = @item.Id })

            <br />
            <span style="color: #8a8b8d;">City:</span> @item.City <br>
            <span style="color: #8a8b8d;" class="left lh11 ">Address:</span>
            <br> <span style="color: #8a8b8d;"> Telephone:</span> @item.Telephones <br>
            @Html.ActionLink("See profile", "Details", new { organizationId = item.Id })
        </div>
    }

</div>




