@model LeisureTimeSystem.Models.ViewModels.Organization.DetailsOrganizationViewModel

@{
    ViewBag.Title = "Details";
}


<div>
    <h3>@this.Model.Name</h3>
    <hr/>

    <dl class="dl-horizontal">

        <dt>
            <img src=@this.Model.ProfilePicturePath alt="Smiley face" style="left; width: 200px; height: 80px;">
            <br/>
        </dt>
        <dd>
            <span style="color: #8a8b8d;">City:</span> @this.Model.City <br>

            <span style="color: #8a8b8d;" class="left lh11 ">Address:</span> @this.Model.Address<br>

            <span style="color: #8a8b8d;"> Telephone:</span> @this.Model.Telephones <br>

            <span style="color: #8a8b8d;"> E-mail:</span> @this.Model.DisplayEmail <br>

            <span style="color: #8a8b8d;"> Web-site:</span> @this.Model.Website <br>
        </dd>
    </dl>
</div>

<h3>
    @Html.DisplayNameFor(model => model.Description)
</h3>
<hr/>
<div>
    @Html.DisplayFor(model => model.Description)
</div>

<h3>Gallery</h3>
<hr/>
<div class="left presentation_gallery_photo">
    <table width="100" style="width:100%;height:103px;">
        <tbody>
            <tr>
                @foreach (var picturePath in this.Model.Pictures)
                {
                    <td width="100" height="100" valign="middle" align="center" style="vertical-align: middle;">
                        <img alt="Детска Академия по Футбол - снимка 1 - футбол - София" src=@picturePath>
                    </td>
                }
            </tr>
        </tbody>
    </table>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
