@model LeisureTimeSystem.Models.ViewModels.Organization.ManageRepresentativesViewModel

@{
    ViewBag.Title = "AddRepresentatives";
}

<h2>Manage representatives</h2>

<hr/>


<p><span class="boldedWords">Organization name:</span> @this.Model.OrganizationName</p>

<p class="boldedWords">Current representatives:</p>

@foreach (var student in this.Model.CurrentRepresentatives)
{
    <p> @student.Username </p>
}

@Ajax.ActionLink("Add Representative", "AddRepresentative", "Organization", new { organizationId = this.Model.OrganizationId, @class = "btn btn-lg" }, new AjaxOptions()
{
    HttpMethod = "GET",
    UpdateTargetId = "addContainer",
    InsertionMode = InsertionMode.Replace
})

<div id="addContainer">
</div>

<br/>
<br/>
<p class="boldedWords">Remove representative</p>
@foreach (var student in this.Model.CurrentRepresentatives)
{


    <span>@student.Username</span> @Html.ActionLink("Remove", "RemoveRepresentative", "Organization", new { organizationId = this.Model.OrganizationId, studentId = student.Id, @class = "btn btn-lg" }, null)
    <br/>

    }












